{% load static %}
{% include 'themes/header.html' %}
{% block content %}

        <!-- Page Header End -->
        <div class="container-xxl py-5 page-header position-relative mb-5">
            <div class="container py-5">
                <h1 class="display-2 text-white animated slideInDown mb-4">Nos Activités</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{'index'}}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="#">Informations utiles</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Nos Activités</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Facilities Start -->
        <div class="container-xxl py-5" id="serv">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Bienvenue sur le site Little Bees</h1>
                    <p>Offrez à vos petits une expérience mémorable et célébrez avec PLAY ! Qu'il s'agisse de fêtes d'anniversaire, de remises de diplômes à la maternelle ou de célébrations d'équipes de football, Little Bee's propose un lieu et des options incroyables, notre équipe peut vous aider à rendre chaque journée encore plus spéciale.</p>
                </div>
                <div class="row g-4">
                    <h4 class="mb-5 wow fadeInUp" data-wow-delay="0.1s">Nos Activités</h4>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="facility-item">
                            <div class="facility-icon bg-primary">
                                <span class="bg-primary"></span>
                                <i class="fas fa-brain fa-3x text-primary"></i>
                                <span class="bg-primary"></span>
                            </div>
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3">Activités d'éveil artistique</h3>
                                <p class="mb-0">dessin, peinture, musique, etc...<br>Stimuler la créativité par le biais d'activités artistiques</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-icon bg-success">
                                <span class="bg-success"></span>
                                <i class="fa fa-futbol fa-3x text-success"></i>
                                <span class="bg-success"></span>
                            </div>
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">Activités physiques et sportives</h3>
                                <p class="mb-0">Développement de la coordination et des compétences physiques.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-icon bg-warning">
                                <span class="bg-warning"></span>
                                <i class="fa fa-home fa-3x text-warning"></i>
                                <span class="bg-warning"></span>
                            </div>
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">Cantine saine</h3>
                                <p class="mb-0">Repas sains pour une alimentation adéquate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item">
                            <div class="facility-icon bg-info">
                                <span class="bg-info"></span>
                                <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                                <span class="bg-info"></span>
                            </div>
                            <div class="facility-text bg-info">
                                <h3 class="text-info mb-3">Apprentissage positif</h3>
                                <p class="mb-0"> Encouragement de la curiosité naturelle à travers des activités interactives.</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="row g-4">
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="facility-item">
                                <div class="facility-icon bg-primary">
                                    <span class="bg-primary"></span>
                                    <i class="fas fa-brain fa-3x text-primary"></i>
                                    <span class="bg-primary"></span>
                                </div>
                                <div class="facility-text bg-primary">
                                    <h3 class="text-primary mb-3">Cour de Langues</h3>
                                    <p class="mb-0">Initiation à de nouvelles langues pour enrichir leur horizon.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="facility-item">
                                <div class="facility-icon bg-success">
                                    <span class="bg-success"></span>
                                    <i class="fa fa-futbol fa-3x text-success"></i>
                                    <span class="bg-success"></span>
                                </div>
                                <div class="facility-text bg-success">
                                    <h3 class="text-success mb-3">Ateliers de développement des compétences</h3>
                                    <p class="mb-0">Apprentissage des compétences émotionnelles et sociales</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="facility-item">
                                <div class="facility-icon bg-warning">
                                    <span class="bg-warning"></span>
                                    <i class="fa fa-home fa-3x text-warning"></i>
                                    <span class="bg-warning"></span>
                                </div>
                                <div class="facility-text bg-warning">
                                    <h3 class="text-warning mb-3">Activités parascolaires en option</h3>
                                    <p class="mb-0"> Possibilité de découvrir de nouveaux domaines d'intérêt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="facility-item">
                                <div class="facility-icon bg-info">
                                    <span class="bg-info"></span>
                                    <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                                    <span class="bg-info"></span>
                                </div>
                                <div class="facility-text bg-info">
                                    <h3 class="text-info mb-3">Sorties éducatives</h3>
                                    <p class="mb-0">Expériences enrichissantes en dehors de l'école.</p>
                                </div>
                            </div>
                        </div>
                    
                    
                </div>
            </div>
        </div>
        <!-- Facilities End -->
        {% include 'themes/footer.html' %}
        {% endblock content %}